
        <section id="contact">
            <h1>KONTAKT</h1>
            <div id="article-content">
                <p><b>Ansprechpartner:</b> Tobias Lammer<br>
                <b>Telefon:</b> 0157 344 560 71<br>
                    <b>Mail:</b> emersonprimemusic@gmail.com</p>
                </address>
                <form action="mailto:emersonprimemusic@gmail.com" method="post" enctype="text/plain">
                    <input type="text" placeholder="Absender" name="Absender">
                    <textarea placeholder="Nachricht" name="Nachricht"></textarea>
                    <input type="submit" value="Abschicken">
                </form>
                <p>Diese Seite wurde individuell nach den Wünschen von Emerson Prime von <a href="mailto:florian.delvo@googlemail.com">Florian Delvo</a> (florian.delvo@googlemail.com) gestaltet.</p>
            </div>
        </section>
