{% extends "main/layout.html" %}
{% block main %}
    <main role="main">
        <header>
            <h1>KONTAKT</h1>
        </header>
        <section>
            <div class="article-content">
                <ul class="contact-ul">
                    <li><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i><a target="_blank" href="
                            {% for app_text in app_texts %}{% if "facebook_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}">
                        {% for app_text in app_texts %}{% if "facebook" == app_text.keyword %}{{ app_text.text | safe }}
                        {% endif %}{% endfor %}</a></li>
                    <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i> <a target="_blank"
                                                                                    href="


                                                                                            {% for app_text in app_texts %}{% if "instagram_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}">
                        {% for app_text in app_texts %}{% if "instagram" == app_text.keyword %}
                            {{ app_text.text | safe }}{% endif %}{% endfor %}</a>
                    </li>
                    <li><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> <a
                            href="


                                    {% for app_text in app_texts %}{% if "email_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}">
                        {% for app_text in app_texts %}{% if "email" == app_text.keyword %}
                            {{ app_text.text | safe }}{% endif %}{% endfor %}</a></li>
                    <li><i class="fa fa-youtube fa-2x" aria-hidden="true"></i> <a target="_blank"
                                                                                  href="


                                                                                          {% for app_text in app_texts %}{% if "youtube_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}">
                        {% for app_text in app_texts %}{% if "youtube" == app_text.keyword %}
                            {{ app_text.text | safe }}{% endif %}{% endfor %}</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}