
        <section id="events">
            <h1>EVENTS</h1>
            <div id="events-grid">
                {% for event in events %}
                    <div class="event">
                        <span class="event-name">{{ event.name }}</span> 
                        <b class="event-date">{{ event.date | datetimeformat }}</b>
                        <span class="event-location">{{ event.location }}</span>
                        <a class="event-link" href="{{ event.link }}">Link zum Event</a>
                    </div>
                {% endfor %}
            </div>
        </section>
