{% extends "main/layout.html" %}
{% block main %}
    <main role="main">
        <header>
            <h1>EVENTS</h1>
        </header>
        <section class="events">
            {% for event in events %}
                <div class="event">
                    <header><h3>{{ event.name }}</h3></header>
                    <div class="event-info">
                        <ul>
                            <li>{{ event.date | datetimeformat }}</li>
                            <li>{{ event.location }}</li>
                            <li><a href="{{ event.link }}">Link to event</a></li>
                            <li>{{ event.remarks }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}