<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
    <meta charset="utf-8">

    <title>EMERSON PRIME</title>

    <!-- Enter a brief description of your page -->
    <meta name="description" content="">

    <!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width,
    and setting the initial page zoom level to be 1 (initial-scale=1.0), and fixinng width=device-width for iOS9 (shtink-to-fit=no) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!-- Include the site stylesheet -->
    <link href="/static/css/styles.css" rel="stylesheet" media="all">
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="/static/js/jquery_app.js"></script>
    <script src="https://use.fontawesome.com/bfdfbcedeb.js"></script>

</head>
<body>

<nav class="main-nav" role="navigation">
    <a id="a1" href="/">Home</a>
    <a id="a2" href="/about">Über</a>
    <a id="a3" href="/news">News</a>
    <a id="a4" href="/music">Musik</a>
    <a id="a5" href="/events">Events</a>
    <a id="a6" href="/photos">Fotos</a>
    <a id="a7" href="/contact">Kontakt & Social Media</a>
    <span id="a8">
        <a id="a8" target="_blank" href="{% for app_text in app_texts %}{% if "facebook_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i
                class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a id="a9" target="_blank" href="{% for app_text in app_texts %}{% if "instagram_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i
                class="fa fa-instagram" aria-hidden="true"></i></a>
        <a id="a10" target="_blank" href="{% for app_text in app_texts %}{% if "youtube_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i
                class="fa fa-youtube" aria-hidden="true"></i></a>
        <a id="a11" href="{% for app_text in app_texts %}{% if "email_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i
                class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </span>
</nav>
<div class="mobile-nav-button">
    <span id="open-nav">Menu</span>
</div>
<nav class="mobile-nav" role="navigation">
    <a id="ma1" href="/">Home</a>
    <a id="ma2" href="/about">Über</a>
    <a id="ma3" href="/news">News</a>
    <a id="ma4" href="/music">Musik</a>
    <a id="ma5" href="/events">Events</a>
    <a id="ma6" href="/photos">Fotos</a>
    <a id="ma7" href="/contact">Kontakt & Social Media</a>
        <a target="_blank" href="{% for app_text in app_texts %}{% if "facebook_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i
                class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a target="_blank" href="{% for app_text in app_texts %}{% if "instagram_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i
                class="fa fa-instagram" aria-hidden="true"></i></a>
        <a target="_blank" href="{% for app_text in app_texts %}{% if "youtube_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i
                class="fa fa-youtube" aria-hidden="true"></i></a>
        <a href="{% for app_text in app_texts %}{% if "email_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i
                class="fa fa-envelope-o" aria-hidden="true"></i></a>
</nav>

{% block main %} {% endblock %}

</body>
</html>