<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
    <meta charset="utf-8">

    <title>EMERSON PRIME</title>

    <!-- Enter a brief description of your page -->
    <meta name="description" content="">

    <!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width,
    and setting the initial page zoom level to be 1 (initial-scale=1.0), and fixinng width=device-width for iOS9 (shtink-to-fit=no) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!-- Include the site stylesheet -->
    <link href="/static/css/styles.css" rel="stylesheet" media="all">
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="/static/js/jquery_app.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>

<nav class="main-nav" role="navigation">
<div id="link-list">
    <a class="nav-link" href="#index">Home</a>
    <a class="nav-link" href="#media">Media</a>
    <a class="nav-link" href="#events">Events</a>
    <a class="nav-link" href="#news">News</a>
    <a class="nav-link" href="#about">Über</a>
    <a class="nav-link" href="#photos">Fotos</a>
    <a class="nav-link" href="#contact">Kontakt</a>
    <span id="social-media-bar">
                <a target="_blank" href="{% for app_text in app_texts %}{% if "facebook_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i class="fab fa-facebook-square"></i></a>
                <a target="_blank" href="{% for app_text in app_texts %}{% if "instagram_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="{% for app_text in app_texts %}{% if "youtube_link" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}"><i class="fab fa-youtube"></i></a>
        </span>
</div>
<i id="close-nav" class="fas fa-times fa-2x"></i>
</nav>
<i class="fa fa-bars fa-2x" id="open-nav"></i>
<h1 id="name">Emerson Prime</h1>
<main>
{% include 'main/index.html' %}
{% include 'main/media.html' %}
{% include 'main/events.html' %}
{% include 'main/news.html' %}
{% include 'main/about.html' %}
{% include 'main/photos.html' %}
{% include 'main/contact.html' %}
</main>
<a id="branding" href="/contact">Design by fde</a>
</body>
</html>