{% extends "main/layout.html" %}
{% block main %}
    <main role="main">
        <header>
            <h1>Media</h1>
        </header>
        <section class="music">
            <div class="embedded-links">
                <div>
                    {% for video in videos %}
                        {{ video.embedded_link | safe }}
                    {% endfor %}
                </div>
                <div>
                    {% for spotify in spotifys %}
                        {{ spotify.embedded_link | safe }}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}