{% extends "main/layout.html" %}
{% block main %}
    <main role="main">
        <header>
            <h1>NEWS</h1>
            <a href="" onclick="window.history.back()"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</a>
        </header>
        <section class="news">
            <h2>{{ news_article.title }}</h2>
            <span>{{ news_article.date | datetimeformat }}</span>
            <article>{{ news_article.content }}</article>
        </section>
    </main>
{% endblock %}