
        <section id="news">
            <h1>NEWS</h1>
            <div id="news-grid">
            {% for news_article in news %}
                <div class="news-article">
                    <div class="news-article-header">
                        <h2>{{ news_article.title }}</h2>
                        <span>{{ news_article.date | datetimeformat }}</span>
                    </div>
                    <div class="news-article-content">
                        {{ news_article.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
        </section>
