{% extends "main/layout.html" %}

{% block main %}
    <main role="main">
        <header>
            <h1>Vergangene Events</h1>
            <a href="{{ url_for('main.events') }}">Kommende Events</a>
        </header>
        <section class="events">
            <ul>
                {% for event in events.items %}
                    <li><b>{{ event.name }}:</b> {{ event.date | datetimeformat }} in {{ event.location }} | <a
                            href="{{ event.link }}">Link zum Event</a></li>
                {% endfor %}
            </ul>
            <div class=pagination>
                <span>Pages: </span>
                {%- for page in events.iter_pages() %}
                    {% if page %}
                        {% if page != events.page %}
                            <a href="{{ url_for('main.past_events', page=page) }}">{{ page }}</a>
                        {% else %}
                            <strong>{{ page }}</strong>
                        {% endif %}
                    {% else %}
                        <span class=ellipsis>…</span>
                    {% endif %}
                {%- endfor %}
            </div>
        </section>
    </main>
{% endblock %}