{% extends "main/layout.html" %}
{% block main %}
    <main role="main">
        <header>
            <h1>Fotos</h1>
        </header>
        <section class="photos">
            <div class="gallery">
                <img id="photo1" src="../static/images/JESSE-WIEBE-EP20170622-029_SW_WEB.png" />
                <img id="photo2" src="../static/images/JESSE-WIEBE-EP20170622-172_WEB.png" />
                <img id="photo3" src="../static/images/JESSE-WIEBE-EP20170622-186_WEB.png" />
                <img id="photo4" src="../static/images/JESSE-WIEBE-EP20170622-257_WEB.png" />
                <img id="photo5" src="../static/images/JESSE-WIEBE-EP20170622-329-Zusatzmotiv_WEB.png" />
                <img id="photo6" src="../static/images/JESSE-WIEBE-EP20170622-395_WEB.png" />
                <img id="photo7" src="../static/images/JESSE-WIEBE-EP20170622-513_WEB.png" />
                <img id="photo8" src="../static/images/JESSE-WIEBE_EP20170622-Einzelportraits-V2.png" />
                <img id="photo9" src="../static/images/Emerson.jpg" />
                <img id="photo10" src="../static/images/Emerson2.jpg" />
            </div>
        </section>
    </main>
{% endblock %}