
        <section id="photos">
            <h1>FOTOS</h1>
            <div class="gallery">
                <img id="photo1" src="../static/images/JESSE-WIEBE-EP20170622-029_SW_WEB.png" />
                <img id="photo2" src="../static/images/JESSE-WIEBE-EP20170622-172_WEB.png" />
                <img id="photo3" src="../static/images/JESSE-WIEBE-EP20170622-186_WEB.png" />
                <img id="photo4" src="../static/images/JESSE-WIEBE-EP20170622-257_WEB.png" />
                <img id="photo5" src="../static/images/JESSE-WIEBE-EP20170622-329-Zusatzmotiv_WEB.png" />
                <img id="photo6" src="../static/images/JESSE-WIEBE-EP20170622-395_WEB.png" />
                <img id="photo7" src="../static/images/JESSE-WIEBE-EP20170622-513_WEB.png" />
            </div>
        </section>
