@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Anton|Open+Sans:300,400,700|Reem+Kufi|PT+Mono');

/* Default link styling */
a:link {
    color: #0271fb;
}

a:visited {
    color: #bd02fb;
}

a:hover, a:focus {
    color: #000;
}

a:active {
    color: #fb0e02;
}

/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

html {
    min-height: 100vh;
}

body {
    /*font-family: 'Reem Kufi', sans-serif;*/
    /*font-family: 'Reem Kufi', sans-serif;*/
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'PT Mono', monospace;
    background-color: #FBF9FA;
    margin: 0;
    height: 100%;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Mono', monospace;
    margin: 0;
}

header {
    padding: 2rem 2rem 2rem 2rem;
    color: #212121 !important;
}

main {
    background-color: #FFFFFF;
    border-left: 0.3rem solid #ca519e;
    border-right: 0.05rem solid #ca519e;
    border-bottom: 0.05rem solid #ca519e;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header" "content";
}

main header {
    grid-area: header;
}

main section {
    grid-area: content;
    padding: 1rem;
    display: grid;
    box-sizing: border-box;
}

img {
    width: 100%;
}

article {
    line-height: 1.5;
    font-size: 16px;
}

.pagination {
    padding: 1rem;
}

.highlight {
    color: #ca519e;
}

.in-past {
    text-decoration: line-through;
}

/* Navigation */

.mobile-nav {
    display: none;
}

.mobile-nav-button {
    display: none;
}

.main-nav {
    border-bottom: 0.05rem solid #ca519e;
    text-align: center;
    font-family: 'PT Mono', monospace;
    font-size: 1.5rem;
    display: grid;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-areas: "a1 a2 a3 a4 a5 a6 a7 social-media";
}

.main-nav a {
    display: inline-block;
    box-sizing: border-box;
    color: #7598b8;
    text-decoration: none;
    align-self: center;
}

.main-nav a:hover {
    color: #ca519e;
}

.main-nav #a1 {
    grid-area: a1
}

.main-nav #a2 {
    grid-area: a2
}

.main-nav #a3 {
    grid-area: a3
}

.main-nav #a4 {
    grid-area: a4
}

.main-nav #a5 {
    grid-area: a5
}

.main-nav #a6 {
    grid-area: a6
}

.main-nav #a7 {
    grid-area: a7;
}

.main-nav #a8 {
    grid-area: social-media;
}

.main-nav #dark-theme-on, .main-nav #dark-theme-off {
    grid-area: dark-theme;
}

/* Index */

.index {
    background-color: #FBF9FA;
    border: none;
}

.index-picture {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

#revert {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
    left: 5%;
}

#revert:hover {
    color: #ca519e;
}

/* About */

.about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "about-header about-header" "about-description about-album-back-cover" "about-band-picture about-band-members";
}

.about-header {
    grid-area: about-header;
    padding: 1rem;
}

.about-band-description {
    grid-area: about-description;
    padding: 1rem;
}

.about-band-album-back-cover {
    grid-area: about-album-back-cover;
    padding: 1rem;
}

.about-band-picture {
    grid-area: about-band-picture;
}

.about-band-members {
    grid-area: about-band-members;
    padding: 0 1rem 1rem 1rem;
}

.about-band-mobile-banner {
    display: none;
}

/* News */

.news {
    padding: 0 2rem 2rem 2rem;
}

.news-article {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "news-article-header" "news-article-content";
}

.news-article-content {
    grid-area: news-article-content;
    padding: 1rem;
    overflow: hidden;
    align-self: center;
    width: 36em;
    max-width: 100%;
    line-height: 1.5;
    font-size: 16px;
}

.news-article-content a {
    display: inline;
}

.news-article-header {
    grid-area: news-article-header;
    padding: 0 1rem 1rem 1rem;
}

.news-article-thumbnail {
    grid-area: news-article-thumbnail;
}

.news-thumbnail {
    height: 250px;
    width: auto;
}

/* Events */

.event {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "title info";
    border-bottom: 0.05rem solid #ca519e;
}

.event header {
    grid-area: title;
    padding: 0;
    justify-self: center;
    align-self: center;
}

.event-info {
    grid-area: info;
}

/* Music */

.music {
    grid-auto-rows: auto;
    grid-template-areas: "tab_control" "embedded_links";
}

.music .embedded-links {
    grid-area: embedded_links;
    align-self: center;
    text-align: center;
}

.music .tab-control {
    grid-area: tab_control;
    justify-self: center;
    padding: 1rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "spotify youtube";
}

.tab-control i {
    color: #7598b8;
    justify-self: center;
}

.tab-control i:hover {
    color: #ca519e;
    cursor: pointer;
}

#spotify {
    grid-area: spotify
}

#youtube {
    grid-area: youtube
}

#youtube-container {
    text-align: center;
}

#youtube-container iframe {
    display: block;
    margin: 1rem auto 1rem auto;
    width: 560px;
    height: 315px;
}

/* Contact */

.contact-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-ul li {
    padding: 1rem;
}

/* Photos */

.gallery {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-areas:
            "photo1 photo1 photo1 photo1"
            "photo2 photo3 photo4 photo5"
            "photo8 photo8 photo8 photo8"
            "photo6 photo7 photo9 photo10"
}

#photo1 {
    grid-area: photo1;
}

#photo2 {
    grid-area: photo2;
}

#photo3 {
    grid-area: photo3;
}

#photo4 {
    grid-area: photo4;
}

#photo5 {
    grid-area: photo5;
}

#photo6 {
    grid-area: photo6;
}

#photo7 {
    grid-area: photo7;
}

#photo8 {
    grid-area: photo8;
}

#photo9 {
    grid-area: photo9;
}

#photo10 {
    grid-area: photo10;
}

@media (max-width: 960px) {
    body {
        min-height: 100vh;
    }

    main {
        border-left: none;
        border-right: none;
        width: 100%;
    }

    article {
        width: 100%;
        line-height: 1.5;
        font-size: 16px;
    }

    /* Mobile Nav */
    .main-nav {
        display: none;
    }

    .mobile-nav-button {
        display: block;
        grid-area: nav;
        text-align: right;
        border-bottom: 0.05rem solid #ca519e;
        padding: 1rem;
        color: #7598b8;
    }

    .mobile-nav {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #FBF9FA;
        width: 100%;
        text-align: left;
    }

    .mobile-nav a {
        display: block;
        padding: 1rem 0 1rem 1rem;
        border-bottom: 0.05rem solid #ca519e
    }

    /* Mobile Events */
    .event {
        display: grid;
        grid-template-rows: auto 2fr;
        grid-template-columns: auto;
        grid-template-areas: "title" "info";
    }

    .event header {
        grid-area: title;
        padding: 0;
        justify-self: start;
    }

    .event-info {
        grid-area: info;
    }

    /* Mobile About */
    .about {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "about-header" "about-banner" "about-description" "about-band-picture" "about-band-members";
    }

    .about-header {
        grid-area: about-header;
        padding: 0 0 1rem 0;
    }

    .about-band-description {
        grid-area: about-description;
        padding: 1rem 0 1rem 0;
    }

    .about-band-picture {
        grid-area: about-band-picture;
    }

    .about-band-members {
        grid-area: about-band-members;
        padding: 1rem 0 0 0;
    }

    .about-band-album-back-cover {
        display: none;
    }

    .about-band-mobile-banner {
        display: unset;
        grid-area: about-banner;
    }

    /* Mobile Music */
    #youtube-container iframe {
        display: block;
        margin: 1rem;
        width: auto;
        height: auto;
    }

    /* Mobiles Photos*/

    .gallery {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "photo1 photo1"
            "photo2 photo3"
            "photo8 photo8"
            "photo4 photo5"
            "photo6 photo7"
            "photo9 photo10"
}
}

@media (orientation: portrait) {
    .index-picture {
        width: 90%;
    }
}

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        background: transparent !important;
    }

    html {
        background-color: #fff;
    }

    /* Hide navigation */
    nav {
        display: none;
    }

    /* Show link destinations in brackets after the link text */
    a[href]:after {
        content: " (" attr(href) ") ";
    }

    a[href] {
        font-weight: bold;
        text-decoration: underline;
        color: #06c;
        border: none;
    }

    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    figure {
        margin-bottom: 1em;
        overflow: hidden;
    }

    figure img {
        border: 1px solid #000;
    }
}