{% extends "admin/layout_admin.html" %}
{% block main %}
    <header><h2>News articles</h2></header>
    <table>
        <thead>
        <tr>
            <th colspan="4"><a href="/admin/new_news_article">Create news article</a></th>
        </tr>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for news_article in news_articles.items %}
            <tr>
                <td>{{ news_article.title }}</td>
                <td>{{ news_article.date | datetimeformat }}</td>
                <td>{{ news_article.user.username }}</td>
                <td><a href="/admin/edit_news_article/{{ news_article.id }}">Edit</a> | <a
                        onclick="return confirm('Are you sure you want to delete this item?');" href="/admin/delete_news_article/{{ news_article.id }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="4">
                <div class=pagination>
                    <span>Pages: </span>
                    {%- for page in news_articles.iter_pages() %}
                        {% if page %}
                            {% if page != news_articles.page %}
                                <a href="{{ url_for('administration.news', page=page) }}">{{ page }}</a>
                            {% else %}
                                <strong>{{ page }}</strong>
                            {% endif %}
                        {% else %}
                            <span class=ellipsis>…</span>
                        {% endif %}
                    {%- endfor %}
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}