{% extends "admin/layout_admin.html" %}
{% block main %}
        <header><h2>News articles</h2></header>
            <table>
                <thead>
                    <tr>
                        <th><a href="/admin/new_news_article">Create news article</a></th>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for news_article in news_articles %}
                        <tr>
                            <td>{{ news_article.title }}</td>
                            <td>{{ news_article.date }}</td>
                            <td><a href="/admin/edit_news_article/{{ news_article.id }}">Edit</a> | <a href="/admin/delete_news_article/{{ news_article.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}