{% extends "admin/layout_admin.html" %}
{% block main %}
        <header><h2>Videos</h2></header>
            <table>
                <thead>
                    <tr>
                        <th><a href="/admin/new_video">Create video</a></th>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <th>Embedded link</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in videos %}
                        <tr>
                            <td>{{ video.description }}</td>
                            <td>{{ video.embedded_link }}</td>
                            <td><a href="/admin/edit_video/{{ video.id }}">Edit</a> | <a href="/admin/delete_video/{{ video.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}